* {
    font-family: 'Slabo 27px', serif;
    margin: auto;
    padding: 10px;
}

.main {
    text-align: center;
    background-image: linear-gradient(120deg, #FFDAB9, #FA8072)
}

/*.input-group {
    width: 50%;
    align-items: center;
    margin-left: 240px;
}*/

/*.todos {
    /*margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

body {
    min-height: 100vh;
}

form {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, #add-todo {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    background: #fff;
}

#todo-input {
    height: 52px;
    width: 30%;
}

hr {
    width: 20%;
}

.todo-header {
    font-weight: bold;
}

.list-item {
    list-style-type: none;
    background: #fff;
    width: 30%;
}

.complete-btn {
    font-size: 10px;
    height: 40px;
    background: #008000;
    color: #fff;
    border: none;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    transition-duration: 0.4s;
}

.delete-btn {
    font-size: small;
    background: #FF0000;
    color: #fff;
    border: none;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    transition-duration: 0.4s;
}

.complete-btn:hover {
    background-color: #D3D3D3;
    color: #000;
}

.delete-btn:hover {
    background-color: #D3D3D3;
    color: #000;
}