@import "compass/css3";

*, 
*:before, 
*:after {
    font-family: 'Slabo 27px', serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: #fff;
}

.todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-align: right;
    color: #000;
}

header {
    text-align: right;
}

form input, #add-todo {
    font-size: 1rem;
    border: none;
    background: #fff;
}

.fa-check-circle, 
.fa-times-circle {
    pointer-events: none;
}

#todo-input {
    height: 52px;
    width: 30%;
}

.completed {
    text-decoration: line-through;
}

.todo {
    background: #fff;
    color: #000;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 330px;
}

hr {
    width: 20%;
}

.todo-header {
    font-weight: bold;
}

.list-item {
    list-style-type: none;
    background: #fff;
    width: 30%;
}

.complete-btn {
    font-size: 10px;
    padding: 10px 24px;
    background: #008000;
    color: #fff;
    border: none;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    transition-duration: 0.4s;
}

.delete-btn {
    font-size: 10px;
    background: #FF0000;
    padding: 10px 24px;
    margin-left: 2px;
    color: #fff;
    border: none;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    transition-duration: 0.4s;
}

.complete-btn:hover {
    background-color: #D3D3D3;
    color: #000;
}

.delete-btn:hover {
    background-color: #D3D3D3;
    color: #000;
}

.fall {
    opacity: 0;
    transform: translateY(8rem) rotateZ(20deg);
    -webkit-transform: translateY(8rem) rotateZ(20deg);
    -moz-transform: translateY(8rem) rotateZ(20deg);
    -ms-transform: translateY(8rem) rotateZ(20deg);
    -o-transform: translateY(8rem) rotateZ(20deg);
}

/* Signup 
.tab-group ul li a {
    text-decoration: none;
    color: #fff;
}

.form {
    background: #D3D3D3;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 4px 10px 4px rgba(0,0,0,0.2);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group::after {
    content: "";
    display: table;
    clear: both;
} */

.tab {
    overflow: hidden;
}

.tab button {
    background-color: #13232f;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    display: inline-block;
    margin: auto;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
  }

  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    width: 60%;
  }

#signup {
    margin-top: 2px;
    display: block;
    margin: auto;
    box-shadow: 0 4px 10px 4px rgba(0,0,0,0.2);
}

#login {
    margin-top: 2px;
    display: block;
    margin: auto;
    box-shadow: 0 4px 10px 4px rgba(0,0,0,0.2);
}

li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    float: left;
    text-transform:uppercase;
    background: #13232f;
    color: #fff;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

li a:hover {
    background: #d3d3d3;
    color: #000;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #000;
    margin: 0 0 40px;
}

.tab-content > div:last-child {
    display: none;
}

label {
    position: absolute;
    left: 13px;
    transition: all 0.25s ease;
    pointer-events: none;
    transform:translateY(6px);
    -webkit-transform:translateY(6px);
    -moz-transform:translateY(6px);
    -ms-transform:translateY(6px);
    -o-transform:translateY(6px);
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}

label.active {
    left: 12px;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
}

label.highlight {
    color: #13232f;
}

input, textarea {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #13232f;
    transition: border-color .25s ease, box-shadow .25s ease;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    -moz-transition: border-color .25s ease, box-shadow .25s ease;
    -ms-transition: border-color .25s ease, box-shadow .25s ease;
    -o-transition: border-color .25s ease, box-shadow .25s ease;
}

textarea {
    border:2px solid #13232f;
    resize: vertical;
  }
  
  .field-wrap {
    position:relative;
    margin-bottom:40px;
  }
  
  .top-row::after {
      content: "";
      display: table;
      clear: both;
}
  
.top-row::after > div {
      float:left;
      width:48%;
      margin-right:4%;
}

.top-row::after > div:last-child { 
        margin:0;
      }
  
button {
    border:0;
    outline:none;
    border-radius:0;
    padding:15px;
    background: #13232f;
    color: #fff;
    text-transform:uppercase;
    letter-spacing:.1em;
    transition:all.5s ease;
    -webkit-appearance: none;
  }
  
  .button-block {
    display:block;
    width:100%;
  }
  
  .forgot-password {
    margin-top:-20px;
    text-align:right;
  }

  .signin-header {
      text-align: center;
      font-size: 30px;
  }

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    margin: auto;
    top: 0;
    width: 100%;
    height: 50%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 80px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888; 
    width: 50%;
    height: 50%;
    padding-top: 50px;
    font-size: 20px;
}

.close {
    position: fixed;
    right: 15px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    animation: animatezoom 0.6s;
    -webkit-animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from { -webkit-transform: scale(0) }
    to { -webkit-transform: scale(1) }
}

@keyframes animatezoom {
    from { transform: scale(0); 
          -webkit-transform: scale(0); 
          -moz-transform: scale(0); 
          -ms-transform: scale(0); 
          -o-transform: scale(0); }
    to { transform: scale(1); 
        -webkit-transform: scale(1); 
        -moz-transform: scale(1); 
        -ms-transform: scale(1); 
        -o-transform: scale(1); }
}

#tick {
    color: #76d7c4;
    font-size: 28px;
}